@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "Mulish";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1120px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._visually-hidden {
  display: none;
}

.get-started {
    width: 206px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
  }

  .get-started:hover {
    cursor: pointer;
  }
  
  /* Header */

  .header__container {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .header__logo {
    width: 322px;
  }
  
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu__left {
    display: flex;
    align-items: center;
  }
  .menu__item {
    margin-right: 50px;
  }
  .menu__item a {
    color: #001A49;
    font-weight: 700;
    transition: color 0.2s;
  }
  .menu__item a:hover {
    color: #CD10FF;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu ul {
    list-style-type: none;
  }
  
  .menu-right__button {
    width: 147px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
  }
  .menu-right__button a {
    color: #FFF;
    font-weight: 700;
  }
  .menu-right__button:hover {
    cursor: pointer;
  }

  .promo {
    height: 700px;
  }
  .promo__container {
    display: flex;
    position: relative;
    padding-top: 136px;
  }
  .promo__container::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -226px;
    display: block;
    content: "";
    width: 1170px;
    height: 700px;
    border-radius: 20px;
    opacity: 0.05;
    background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
  }
  .promo__left {
    width: 540px;
  }
  .promo__header {
    color: #001A49;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1px;
  }
  .promo__text {
    color: #4F596A;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
  }
  .promo__button {
    margin-top: 40px;
  }
  .promo__students {
    margin-top: 95px;
    display: flex;
    align-items: center;
  }
  .promo__students p {
    margin-left: 3px;
    color: #4F596A;
    font-size: 16px;
    font-weight: 400;
  }
  .promo__students p span {
    color: #9F07FF;
    font-size: 16px;
    font-weight: 400;
  }
  .promo__video {
    position: absolute;
    top: 171px;
    right: -142px;
    width: 587px;
    height: 360px;
    border-radius: 20px;
    background: #001A49;
    box-shadow: 0px 32px 44px 0px #818A8C;
  }
  .promo__video img {
    position: absolute;
    top: 144px;
    left: 260px;
  }
  .promo__video img:hover {
    cursor: pointer;
  }